@model Make
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add New Make</h1>
<div class="col-md-6 offset-md-3">
    <div class="card border-success rounded shadow-lg p-3">
        <div class="card-body">
            <form method="post" asp-action="Create">
                <div class="form-group">
                    <label class="font-weight-bold" asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" placeholder="Enter Make Of Bike" />
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit"><i class="fas fa-motorcycle"></i> Add New Make</button>
                    <a asp-action="Index" asp-controller="Make" class="btn btn-warning"><i class="fas fa-arrow-left"></i> Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

